@use "sass:math";
/*===============================================
designRoot
===============================================*/
$designRoot: 1;
// device
$sm-device: 560px;
$md-device: 960px;
$lg-device: 1200px;
$lg-design-width: 1440;
$md-design-width: 750;
$sm-design-width: 375;
$lg-design-height: 780;
$sm-design-height: 812;
$mobile-design-width: 750;

/*===============================================
unit
===============================================*/
$unit: inherit;

//unit
@if $designRoot==1 {
   $unit: rem;
} @else {
   $unit: px;
}

/*===============================================
duration
===============================================*/
$duration: 0.45s;

/*===============================================
spacing
===============================================*/
$spacing-0: if($designRoot==1, 0, 0);
$spacing-half: if($designRoot==1, 0.8rem, 8px);
$spacing-mini: if($designRoot==1, 1.2rem, 12px);
$spacing-1: if($designRoot==1, 1.6rem, 16px);
$spacing-2: if($designRoot==1, 2.4rem, 24px);
$spacing-3: if($designRoot==1, 3.2rem, 32px);
$spacing-4: if($designRoot==1, 4rem, 40px);
$spacing-4half: if($designRoot==1, 4.8rem, 48px);
$spacing-5: if($designRoot==1, 5.6rem, 56px);
$spacing-6: if($designRoot==1, 6.4rem, 64px);
$spacing-7: if($designRoot==1, 7.2rem, 72px);
$spacing-8: if($designRoot==1, 8rem, 80px);
$spacing-8half: if($designRoot==1, 8.8rem, 88px);
$spacing-9: if($designRoot==1, 9.6rem, 96px);
$spacing-10: if($designRoot==1, 10.4rem, 104px);
$spacing-11: if($designRoot==1, 11.2rem, 112px);
$spacing-12: if($designRoot==1, 12rem, 120px);

/*===============================================
ratio
===============================================*/
$r-golden: 62%;
$r-silver: 71%;
$r-platinum: 58%;
$r-16-9: 56.25%;
$r-square: 100%;
$r-3-2: 66.66%;
$r-4-3: 75%;

/*===============================================
inner
===============================================*/

$inner-wide: 136rem;
$inner-narrow: 96rem;
$inner-middle: 128rem;
$inner-padding: $spacing-3;

/*===============================================
font
===============================================*/
//font size
$fontsize-0: if($designRoot==1, 1.2rem, 12px);
$fontsize-1: if($designRoot==1, 1.4rem, 14px);
$fontsize-2: if($designRoot==1, 1.6rem, 16px);
$fontsize-3: if($designRoot==1, 3.2rem, 32px);
$fontsize-4: if($designRoot==1, 4rem, 40px);
$fontsize-5: if($designRoot==1, 5.6rem, 56px);
$fontsize-6: if($designRoot==1, 6.4rem, 64px);
$fontsize-7: if($designRoot==1, 7.2rem, 72px);
$fontsize-8: if($designRoot==1, 8rem, 80px);
$fontsize-9: if($designRoot==1, 9.6rem, 96px);

// line-height @include lineHeightCrop($leading-loose);
$leading-none: 1 !default;
$leading-x-tight: 1.3 !default;
$leading-tight: 1.5 !default;
$leading-snug: 1.6 !default;
$leading-normal: 1.7 !default;
$leading-relaxed: 1.8 !default;
$leading-loose: 2 !default;
$leading-x-loose: 2.2 !default;

// letter-spacing
$letter-spacing-base: 0 !default;

/*===============================================
color
===============================================*/
//brandColor
$color-line: #00c300;
$color-yahoo: #ff0027;
$color-twitter: #1da1f2;
$color-facebook: #3b5998;
$color-insta: #e1306c;
$FunTech: #c34e00;
//colorRegulation
$color-txt: #333333;
$color-key: #333333;
$color-bg: #ffffff;

/*===============================================
Media Query
===============================================*/
$breakpoints: (
   "sm": "screen and (max-width:" $sm-device ")",
   "md": "screen and (max-width:" $md-device ")",
   "lg": "screen and (max-width:" $lg-device ")",
) !default;

@mixin mq($breakpoint) {
   @media #{map-get($breakpoints, $breakpoint)} {
      @content;
   }
}

/*===============================================
Disable hover effects when on mobile
===============================================*/
@mixin hover {
   @media (hover: none) {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }

   @media (-ms-high-contrast: none),
      (-ms-high-contrast: active),
      (-moz-touch-enabled: 0),
      (hover: hover) {
      &:hover {
         @content;
      }
   }
}

/*===============================================
Line Height Crop
===============================================*/
@mixin lineHeightCrop($line-height) {
   &::before {
      display: block;
      width: 0;
      height: 0;
      margin-top: calc((1 - #{$line-height}) * 0.5em);
      content: "";
   }

   &::after {
      display: block;
      width: 0;
      height: 0;
      margin-bottom: calc((1 - #{$line-height}) * 0.5em);
      content: "";
   }
}

/*===============================================
transition
===============================================*/
@mixin transition($dur: all $duration) {
   transition: $dur;
   @include easeOutQuart();
}

/*===============================================
easing
===============================================*/
@mixin easeInSine {
   transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
@mixin easeOutSine {
   transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
@mixin easeInOutSine {
   transition-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}
@mixin easeInCubic {
   transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}
@mixin easeInOutCubic {
   transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}
@mixin easeInQuint {
   transition-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
}
@mixin easeOutQuint {
   transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
@mixin easeInOutQuint {
   transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
}
@mixin easeInCirc {
   transition-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
}
@mixin easeOutCirc {
   transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}
@mixin easeInOutCirc {
   transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}
@mixin easeInElastic {
   @keyframes scale-easeInElastic {
      0% {
         transform: scale(1);
      }
      4% {
         transform: scale(1);
      }
      8% {
         transform: scale(1);
      }
      14% {
         transform: scale(1);
      }

      18% {
         transform: scale(1);
      }

      26% {
         transform: scale(1.01);
      }

      28% {
         transform: scale(1.01);
      }

      40% {
         transform: scale(0.98);
      }

      42% {
         transform: scale(0.98);
      }

      56% {
         transform: scale(1.05);
      }

      58% {
         transform: scale(1.04);
      }

      72% {
         transform: scale(0.87);
      }

      86% {
         transform: scale(1.37);
      }

      100% {
         transform: scale(0);
      }
   }
   @keyframes undefined-easeInElastic {
      0% {
         transform: translateX(0%);
      }

      4% {
         transform: translateX(-0.04%);
      }

      8% {
         transform: translateX(-0.16%);
      }

      14% {
         transform: translateX(-0.17%);
      }

      18% {
         transform: translateX(0.04%);
      }

      26% {
         transform: translateX(0.58%);
      }

      28% {
         transform: translateX(0.55%);
      }

      40% {
         transform: translateX(-1.56%);
      }

      42% {
         transform: translateX(-1.64%);
      }

      56% {
         transform: translateX(4.63%);
      }

      58% {
         transform: translateX(4.4%);
      }

      72% {
         transform: translateX(-13.12%);
      }

      86% {
         transform: translateX(37.06%);
      }

      100% {
         transform: translateX(-100%);
      }
   }
   @keyframes opacity-easeInElastic {
      0% {
         opacity: 1;
      }

      4% {
         opacity: 1;
      }

      8% {
         opacity: 1;
      }

      14% {
         opacity: 1;
      }

      18% {
         opacity: 1;
      }

      26% {
         opacity: 1.01;
      }

      28% {
         opacity: 1.01;
      }

      40% {
         opacity: 0.98;
      }

      42% {
         opacity: 0.98;
      }

      56% {
         opacity: 1.05;
      }

      58% {
         opacity: 1.04;
      }

      72% {
         opacity: 0.87;
      }

      86% {
         opacity: 1.37;
      }

      100% {
         opacity: 0;
      }
   }
}
@mixin easeOutElastic {
   @keyframes scale-easeOutElastic {
      0% {
         transform: scale(1);
      }

      16% {
         transform: scale(-0.32);
      }

      28% {
         transform: scale(0.13);
      }

      44% {
         transform: scale(-0.05);
      }

      59% {
         transform: scale(0.02);
      }

      73% {
         transform: scale(-0.01);
      }

      88% {
         transform: scale(0);
      }

      100% {
         transform: scale(0);
      }
   }
   @keyframes undefined-easeOutElastic {
      0% {
         transform: translateX(0%);
      }

      16% {
         transform: translateX(-132.27%);
      }

      28% {
         transform: translateX(-86.88%);
      }

      44% {
         transform: translateX(-104.63%);
      }

      59% {
         transform: translateX(-98.36%);
      }

      73% {
         transform: translateX(-100.58%);
      }

      88% {
         transform: translateX(-99.8%);
      }

      100% {
         transform: translateX(-100%);
      }
   }
   @keyframes opacity-easeOutElastic {
      0% {
         opacity: 1;
      }

      16% {
         opacity: -0.32;
      }

      28% {
         opacity: 0.13;
      }

      44% {
         opacity: -0.05;
      }

      59% {
         opacity: 0.02;
      }

      73% {
         opacity: -0.01;
      }

      88% {
         opacity: 0;
      }

      100% {
         opacity: 0;
      }
   }
}
@mixin easeInOutElastic {
   @keyframes scale-easeInOutElastic {
      0% {
         transform: scale(1);
      }

      4% {
         transform: scale(1);
      }

      8% {
         transform: scale(1);
      }

      18% {
         transform: scale(1.01);
      }

      20% {
         transform: scale(1);
      }

      28% {
         transform: scale(0.98);
      }

      30% {
         transform: scale(0.98);
      }

      38% {
         transform: scale(1.09);
      }

      40% {
         transform: scale(1.12);
      }

      60% {
         transform: scale(-0.12);
      }

      62% {
         transform: scale(-0.09);
      }

      70% {
         transform: scale(0.02);
      }

      72% {
         transform: scale(0.02);
      }

      80% {
         transform: scale(0);
      }

      82% {
         transform: scale(-0.01);
      }

      90% {
         transform: scale(0);
      }

      92% {
         transform: scale(0);
      }

      100% {
         transform: scale(0);
      }
   }
   @keyframes undefined-easeInOutElastic {
      0% {
         transform: translateX(0%);
      }

      4% {
         transform: translateX(-0.08%);
      }

      8% {
         transform: translateX(-0.1%);
      }

      18% {
         transform: translateX(0.52%);
      }

      20% {
         transform: translateX(0.39%);
      }

      28% {
         transform: translateX(-2.35%);
      }

      30% {
         transform: translateX(-2.39%);
      }

      38% {
         transform: translateX(9.27%);
      }

      40% {
         transform: translateX(11.75%);
      }

      60% {
         transform: translateX(-111.75%);
      }

      62% {
         transform: translateX(-109.27%);
      }

      70% {
         transform: translateX(-97.61%);
      }

      72% {
         transform: translateX(-97.65%);
      }

      80% {
         transform: translateX(-100.39%);
      }

      82% {
         transform: translateX(-100.52%);
      }

      90% {
         transform: translateX(-99.97%);
      }

      92% {
         transform: translateX(-99.9%);
      }

      100% {
         transform: translateX(-100%);
      }
   }
   @keyframes opacity-easeInOutElastic {
      0% {
         opacity: 1;
      }

      4% {
         opacity: 1;
      }

      8% {
         opacity: 1;
      }

      18% {
         opacity: 1.01;
      }

      20% {
         opacity: 1;
      }

      28% {
         opacity: 0.98;
      }

      30% {
         opacity: 0.98;
      }

      38% {
         opacity: 1.09;
      }

      40% {
         opacity: 1.12;
      }

      60% {
         opacity: -0.12;
      }

      62% {
         opacity: -0.09;
      }

      70% {
         opacity: 0.02;
      }

      72% {
         opacity: 0.02;
      }

      80% {
         opacity: 0;
      }

      82% {
         opacity: -0.01;
      }

      90% {
         opacity: 0;
      }

      92% {
         opacity: 0;
      }

      100% {
         opacity: 0;
      }
   }
}
@mixin easeInQuad {
   transition-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
}
@mixin easeOutQuad {
   transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}
@mixin easeInOutQuad {
   transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}
@mixin easeInQuart {
   transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
}
@mixin easeOutQuart {
   transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
@mixin easeInOutQuart {
   transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
@mixin easeInExpo {
   transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}
@mixin easeOutExpo {
   transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
@mixin easeInOutExpo {
   transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}
@mixin easeInBack {
   transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
}
@mixin easeOutBack {
   transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
@mixin easeInOutBack {
   transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
@mixin easeInBounce {
   @keyframes scale-easeInBounce {
      0% {
         transform: scale(1);
      }

      4% {
         transform: scale(0.98);
      }

      8% {
         transform: scale(0.99);
      }

      18% {
         transform: scale(0.94);
      }

      26% {
         transform: scale(0.98);
      }

      46% {
         transform: scale(0.75);
      }

      64% {
         transform: scale(0.98);
      }

      76% {
         transform: scale(0.44);
      }

      88% {
         transform: scale(0.11);
      }

      100% {
         transform: scale(0);
      }
   }
   @keyframes undefined-easeInBounce {
      0% {
         transform: translateX(0%);
      }

      4% {
         transform: translateX(-1.54%);
      }

      8% {
         transform: translateX(-0.66%);
      }

      18% {
         transform: translateX(-6.25%);
      }

      26% {
         transform: translateX(-1.63%);
      }

      46% {
         transform: translateX(-24.98%);
      }

      64% {
         transform: translateX(-1.99%);
      }

      76% {
         transform: translateX(-56.44%);
      }

      88% {
         transform: translateX(-89.11%);
      }

      100% {
         transform: translateX(-100%);
      }
   }
   @keyframes opacity-easeInBounce {
      0% {
         opacity: 1;
      }

      4% {
         opacity: 0.98;
      }

      8% {
         opacity: 0.99;
      }

      18% {
         opacity: 0.94;
      }

      26% {
         opacity: 0.98;
      }

      46% {
         opacity: 0.75;
      }

      64% {
         opacity: 0.98;
      }

      76% {
         opacity: 0.44;
      }

      88% {
         opacity: 0.11;
      }

      100% {
         opacity: 0;
      }
   }
}
@mixin easeOutBounce {
   @keyframes scale-easeOutBounce {
      0% {
         transform: scale(1);
      }

      12% {
         transform: scale(0.89);
      }

      24% {
         transform: scale(0.56);
      }

      36% {
         transform: scale(0.02);
      }

      54% {
         transform: scale(0.25);
      }

      74% {
         transform: scale(0.02);
      }

      82% {
         transform: scale(0.06);
      }

      92% {
         transform: scale(0.01);
      }

      96% {
         transform: scale(0.02);
      }

      100% {
         transform: scale(0);
      }
   }
   @keyframes undefined-easeOutBounce {
      0% {
         transform: translateX(0%);
      }

      12% {
         transform: translateX(-10.89%);
      }

      24% {
         transform: translateX(-43.56%);
      }

      36% {
         transform: translateX(-98.01%);
      }

      54% {
         transform: translateX(-75.02%);
      }

      74% {
         transform: translateX(-98.37%);
      }

      82% {
         transform: translateX(-93.75%);
      }

      92% {
         transform: translateX(-99.34%);
      }

      96% {
         transform: translateX(-98.46%);
      }

      100% {
         transform: translateX(-100%);
      }
   }
   @keyframes opacity-easeOutBounce {
      0% {
         opacity: 1;
      }

      12% {
         opacity: 0.89;
      }

      24% {
         opacity: 0.56;
      }

      36% {
         opacity: 0.02;
      }

      54% {
         opacity: 0.25;
      }

      74% {
         opacity: 0.02;
      }

      82% {
         opacity: 0.06;
      }

      92% {
         opacity: 0.01;
      }

      96% {
         opacity: 0.02;
      }

      100% {
         opacity: 0;
      }
   }
}
@mixin easeInOutBounce {
   @keyframes scale-easeInOutBounce {
      0% {
         transform: scale(1);
      }

      2% {
         transform: scale(0.99);
      }

      4% {
         transform: scale(1);
      }

      10% {
         transform: scale(0.97);
      }

      14% {
         transform: scale(0.99);
      }

      22% {
         transform: scale(0.88);
      }

      32% {
         transform: scale(0.99);
      }

      42% {
         transform: scale(0.6);
      }

      50% {
         transform: scale(0.5);
      }

      58% {
         transform: scale(0.4);
      }

      68% {
         transform: scale(0.01);
      }

      78% {
         transform: scale(0.12);
      }

      86% {
         transform: scale(0.01);
      }

      90% {
         transform: scale(0.03);
      }

      96% {
         transform: scale(0);
      }

      98% {
         transform: scale(0.01);
      }

      100% {
         transform: scale(0);
      }
   }
   @keyframes undefined-easeInOutBounce {
      0% {
         transform: translateX(0%);
      }

      2% {
         transform: translateX(-0.77%);
      }

      4% {
         transform: translateX(-0.33%);
      }

      10% {
         transform: translateX(-3%);
      }

      14% {
         transform: translateX(-0.98%);
      }

      22% {
         transform: translateX(-12.42%);
      }

      32% {
         transform: translateX(-1%);
      }

      42% {
         transform: translateX(-40.32%);
      }

      50% {
         transform: translateX(-50%);
      }

      58% {
         transform: translateX(-59.68%);
      }

      68% {
         transform: translateX(-99.01%);
      }

      78% {
         transform: translateX(-87.58%);
      }

      86% {
         transform: translateX(-99.02%);
      }

      90% {
         transform: translateX(-97%);
      }

      96% {
         transform: translateX(-99.67%);
      }

      98% {
         transform: translateX(-99.23%);
      }

      100% {
         transform: translateX(-100%);
      }
   }
   @keyframes opacity-easeInOutBounce {
      0% {
         opacity: 1;
      }

      2% {
         opacity: 0.99;
      }

      4% {
         opacity: 1;
      }

      10% {
         opacity: 0.97;
      }

      14% {
         opacity: 0.99;
      }

      22% {
         opacity: 0.88;
      }

      32% {
         opacity: 0.99;
      }

      42% {
         opacity: 0.6;
      }

      50% {
         opacity: 0.5;
      }

      58% {
         opacity: 0.4;
      }

      68% {
         opacity: 0.01;
      }

      78% {
         opacity: 0.12;
      }

      86% {
         opacity: 0.01;
      }

      90% {
         opacity: 0.03;
      }

      96% {
         opacity: 0;
      }

      98% {
         opacity: 0.01;
      }

      100% {
         opacity: 0;
      }
   }
}

/*===============================================
placeholder
===============================================*/

@mixin placeholder($color) {
   &::placeholder {
      color: $color;
   }

   &:-ms-input-placeholder {
      color: $color;
   }

   &::-ms-input-placeholder {
      color: $color;
   }
}

/*===============================================
background image
===============================================*/
@mixin bg_img_cover {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

@mixin bg_img_contain {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

@mixin bg_mask {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 0;
   left: 0;
   top: 0;
}

/*===============================================
position absolute
===============================================*/
//  @include absolute(0,0,0,0);  @include absolute($top:0, $bottom:0);
@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
   position: absolute;

   @if $top !=null {
      top: $top;
   }

   @if $right !=null {
      right: $right;
   }

   @if $bottom !=null {
      bottom: $bottom;
   }

   @if $left !=null {
      left: $left;
   }
}

/*===============================================
circle
===============================================*/
@mixin circle($size, $color) {
   width: $size;
   height: $size;
   border-radius: 50%;
   background-color: $color;
}

/*===============================================
lines-truncate
===============================================*/
// @include lines-truncate(3);
@mixin lines-truncate($lines: 2) {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $lines;
}

/*===============================================
gradation
===============================================*/
// @include gradient(#ff00ff, #ff00cc, vertical);
@mixin gradient($start-color, $end-color, $orientation) {
   background: $start-color;

   @if $orientation==vertical {
      // vertical
      background: -moz-linear-gradient(top, $start-color 0%, $end-color 100%);
      background: -webkit-gradient(
         linear,
         left top,
         left bottom,
         color-stop(0%, $start-color),
         color-stop(100%, $end-color)
      );
      background: -webkit-linear-gradient(
         top,
         $start-color 0%,
         $end-color 100%
      );
      background: -o-linear-gradient(top, $start-color 0%, $end-color 100%);
      background: -ms-linear-gradient(top, $start-color 0%, $end-color 100%);
      background: linear-gradient(to bottom, $start-color 0%, $end-color 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$end-color', GradientType=0);
   } @else if $orientation==horizontal {
      // horizontal
      background: -moz-linear-gradient(left, $start-color 0%, $end-color 100%);
      background: -webkit-gradient(
         linear,
         left top,
         right top,
         color-stop(0%, $start-color),
         color-stop(100%, $end-color)
      );
      background: -webkit-linear-gradient(
         left,
         $start-color 0%,
         $end-color 100%
      );
      background: -o-linear-gradient(left, $start-color 0%, $end-color 100%);
      background: -ms-linear-gradient(left, $start-color 0%, $end-color 100%);
      background: linear-gradient(to right, $start-color 0%, $end-color 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$end-color', GradientType=1);
   } @else {
      // radial
      background: -moz-radial-gradient(
         center,
         ellipse cover,
         $start-color 0%,
         $end-color 100%
      );
      background: -webkit-gradient(
         radial,
         center center,
         0px,
         center center,
         100%,
         color-stop(0%, $start-color),
         color-stop(100%, $end-color)
      );
      background: -webkit-radial-gradient(
         center,
         ellipse cover,
         $start-color 0%,
         $end-color 100%
      );
      background: -o-radial-gradient(
         center,
         ellipse cover,
         $start-color 0%,
         $end-color 100%
      );
      background: -ms-radial-gradient(
         center,
         ellipse cover,
         $start-color 0%,
         $end-color 100%
      );
      background: radial-gradient(
         ellipse at center,
         $start-color 0%,
         $end-color 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start-color', endColorstr='$end-color', GradientType=1);
   }
}

/*===============================================
webp
ex）@include webpBg(test, j, layout);
===============================================*/
@mixin webpBg($img, $kaku: j, $page: "/") {
   @if $kaku==j {
      $kaku: jpg;
   } @else if $kaku==p {
      $kaku: png;
   } @else if $kaku==g {
      $kaku: gif;
   }

   @if $page== "/" {
   } @else {
      $page: "/" + $page + "/";
   }

   $path1: "../images" + $page + $img + ".webp";
   $path2: "../images" + $page + $img + "." + $kaku;

   .webp & {
      background-image: url($path1);
   }

   .no-webp & {
      background-image: url($path2);
   }
}

/*===============================================
remove unit
===============================================*/
@function su($number) {
   @if type-of($number) == "number" and not unitless($number) {
      @return math.div($number, ($number * 0 + 1));
   }

   @return $number;
}

/*===============================================
hover effect
===============================================*/
@mixin hoverOpacity() {
   @include transition;
   @include hover {
      opacity: 0.6;
   }
   transition-property: opacity;
}
