@use "@/css" as *;

.link {
   font-size: 16px;
   color: $color-key;
   @include hover {
      opacity: 0.6;
   }
   body[data-spice-rendered] & {
      @include transition;
      transition-property: opacity;
   }
}
