@use "@/css" as *;

.inner {
   margin: 0 auto;
}

.w_outer {
   width: min(100% - $inner-padding, $inner-outer);
}
.w_wide {
   width: min(100% - $inner-padding, $inner-wide);
}
.w_default {
   width: min(100% - $inner-padding, $inner-default);
}
.w_narrow {
   width: min(100% - $inner-padding, $inner-narrow);
}
