@use "@/css" as *;

.magnet {
   width: 320px;
   height: 320px;
   background-color: $color-key;
   color: #fff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 4px solid #fff;
   margin-left: 100px;
}

.magnetTitle {
   font-size: 2.4rem;
   span {
      will-change: transform;
      display: inline-block;
   }
}

/*===============================================
modal
===============================================*/
.button {
   display: block;
   width: min(100%, 240px);
   margin: 80px auto 0;
   line-height: 64px;
   text-align: center;
   background-color: #333;
   border: 4px solid #333;
   color: #fff;
   cursor: pointer;
   @include mq(sm) {
      margin: 8px auto;
   }

   @include hover {
      color: #333;
      background-color: #fff;
   }
}
@mixin modalOpen {
   display: flex;
   align-items: center;
   justify-content: center;
}
.dialog[open] {
   @include modalOpen;
   &::backdrop {
      background-color: rgba(0, 0, 0, 0.8);
   }
}
.modal_content {
   width: min(100% - 32px, 800px);
   height: min(100% - 32px, 400px);
   background-color: #fff;
   padding: 40px;
   pointer-events: auto;
   overflow-y: auto;
   overscroll-behavior: contain;
   p {
      font-size: 20px;
      &:not(:first-child) {
         margin-top: 24px;
      }
   }
}
.modal_content_wrapper {
   width: 100%;
   height: 100%;
   @include modalOpen;
   background-color: rgba(0, 0, 0, 0.8);
   pointer-events: none;
}
.close {
   width: min(100%, 320px);
   line-height: 48px;
   font-size: 16px;
   background-color: #333;
   border: 2px solid #333;
   color: #fff;
   margin-top: 24px;
   text-align: center;
   cursor: pointer;
   @include hover {
      color: #333;
      background-color: #fff;
   }
}
