@use "@/css" as *;

.header {
   border-bottom: 1px solid $color-key;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 80px;
   position: fixed;
   z-index: 9999;
   width: 100vw;
   top: 0;
   left: 0;
}
