@use "@/css" as *;

.wrapper {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: calc(var(--negativeMargin) * -1);
   width: calc(100% + var(--gap));
   margin-left: calc(var(--gap) / 2 * -1);
}

/*===============================================
margin-bottom
===============================================*/
.marginBottom_16 {
   --negativeMargin: #{$spacing-1};
   @include mq(md) {
      --negativeMargin: #{$spacing-1};
   }
   @include mq(sm) {
      --negativeMargin: #{$spacing-1};
   }
}

/*===============================================
gap
===============================================*/
.gap_16 {
   --gap: #{$spacing-1};
   @include mq(md) {
      --gap: #{$spacing-1};
   }
   @include mq(sm) {
      --gap: #{$spacing-1};
   }
}

/*===============================================
col
===============================================*/
.col_2 {
   --width: 50%;
   @include mq(sm) {
      --width: 100%;
   }
}

.col_3 {
   --width: 33.33333%;
   @include mq(sm) {
      --width: 50%;
   }
}

/*===============================================
list
===============================================*/
.list {
   display: inline-block;
   text-align: left;
   vertical-align: top;
   margin: 0 calc(var(--gap) / 2) var(--negativeMargin);
   width: calc(var(--width) - var(--gap));
}
