@use "@/css" as *;

.inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: $spacing-2 0;
}

.logo {
   width: 16rem;
}

.link {
   font-size: 16px;
   color: $color-key;
   @include hover {
      opacity: 0.6;
   }
   body[data-spice-rendered] & {
      @include transition;
      transition-property: opacity;
   }
}

.menuWrapper {
   position: fixed;
   max-width: 100%;
   max-height: 100%;
   z-index: var(--z-index-menu);
   background-color: $color-key;
   color: #fff;
   top: $spacing-1;
   right: $spacing-1;
   padding: $spacing-12;
   @include transition;
   transition-property: opacity, visibility, translate;
   border-radius: $spacing-1;
   &[aria-hidden="true"] {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      translate: 8px -8px;
   }
}
