@use "@/css" as *;

.inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 14.4rem 0 2.4rem;
   height: var(--header-height);
}

.logo {
   width: 16rem;
}

.link {
   font-size: 16px;
   @include hover {
      opacity: 0.6;
   }
   body[data-spice-rendered] & {
      @include transition;
      transition-property: opacity;
   }
}
