@use "@/css" as *;

.inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: $spacing-2 0;
}

.link {
   font-size: 16px;
   color: $color-key;
   @include hover {
      opacity: 0.6;
   }
   body[data-spice-rendered] & {
      @include transition;
      transition-property: opacity;
   }
}
