@use "@/css" as *;

.box {
   width: 240px;
   height: 400px;
   background-color: $color-key;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -10;
   position: relative;
   margin-right: 100px;
}
